<a href="https://colab.research.google.com/github/likeJoseph/helloworld/blob/master/(R)_001_R_Basics_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **R Basics Exercise**
We will test you on a few topics:

* Basic Data Types
* Basic Arithmetic
* Vector
* Vector Operations
* Comparison operators
* Vector Selection and Indexing

The exercises below should be straightforward if you've reviewed the lecture, don't expect something very challenging yet, this is more of a review to make sure you've understood everything so far! Later on exercises/projects will be more challenging (and a lot more fun!)

# **Solve the following problems using R**
**What is two to power of five?**

In [ ]:
2^5

[1] 32

**Create a vector called stock.prices with the following data points: 23,27,23,21,34**

In [ ]:
stock.prices <- c(23, 27, 23, 21, 34)
stock.prices

[1] 23 27 23 21 34

**Assign names to the price data points relating to the day of the week, starting with Mon, Tue, Wed, etc...**

In [ ]:
names(stock.prices) <- c('Mon', 'Tue', 'Wed', 'Thu', 'Fri')
print(stock.prices)

Mon Tue Wed Thu Fri
 23  27  23  21  34

**What was the average (mean) stock price for the week? (You may need to reference a built-in function)**

In [ ]:
mean(stock.prices)

[1] 25.6

**Create a vector called over.23 consisting of logicals that correspond to the days where the stock price was more than $23**

In [ ]:
over.23 <- stock.prices[stock.prices > 23]
print(over.23)

Tue Fri
 27  34

**Use a built-in function to find the day the price was the highest**

In [ ]:
stock.prices[stock.prices == max(stock.prices)]

Fri
 34

Okay that's it for the exercise on the basics! Great job!